**/node_modules/
**/dist/
**/bundle-analyzer/
**/coverage/
**/karma_html/
**/.idea/**
**/npm-debug.log
**/karma.conf.js
**/npmignore.conf
**/npmrc.conf
**/package-lock.json
**/tsconfig.ngc.json
**/tsconfig.json
**/tslint.json
**/yarn.lock
**/compiled/
**/compodoc/**
.vscode/settings.json
**/vscode-settings.json
