#cta-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
#cta-container div {
	text-align: center;
}
#cta-container a {
	display: block;
	text-decoration: none;
	background: #1890ff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.12);
	color: white;
	border-color: #1890ff;
	padding: 0.5em 1em;
	border-radius: 0.2em;
	font-size: 150%;
	font-family: Lato;
	transition: background 0.5s;
}
#cta-container a:last-child {
	margin-top: 2em;
}
#cta-container a:hover {
	background: #509cfa;
}
#cta-container a:active {
	background: #3a50d3;
	transition: background 0.2s;
}
