// Styling for the download section
section.download {
    position: relative;
    padding: 150px 0;
    .section-heading {
        word-break: break-word;
        h2 {
            margin-top: 0;
        }
    }
    .cta-phone {
        color: #212529;
    }
    .cta-phone:hover {
        color: rgba(255,255,255,.7);
    }
    .badges {
        .badge-link {
            display: block;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                height: 60px;
            }
            @media(min-width: 768px) {
                display: inline-block;
                margin-bottom: 0;
            }
            .logo {
                height: 120px;
            }
        }
    }

    iframe {
        height: 560px;
        width: 315px;
    }

    @media(min-width: 768px) {
        h2 {
            font-size: 70px;
        }
    }
}
